html {
  height: 100%;
}
#body {
  background-color: #D8F3FD;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar {
  background-color: #FFFFFF;
}
/*
.content {
  
}
*/
.custom-input {
  height: 25px;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}
#add-project.hover {
  background-color: wheat;
}
#add-project {
  text-align: center;
  color: black;
}
#add-category {
  font-size: 24;
  color: black;
}
#login-title {
  text-align: center;
  font-size: 40;
}
.login-container {
  background-color: #00ADED;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
  margin-top: 25%;
  margin-left: 25%;
  margin-right: 25%;
}
.project-title-link {
  color: black;
}
.category-title {
  font-size: 24;
  text-align: left;
  margin-bottom: 30px;
}
.category {
  margin-top: 38px;
  padding: 5px;
  background-color: #00ADED;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.category-column {
    margin-left: 5%;
    margin-right: 5%;
}
#project-page-title {
    margin-left: 30px;
}
.project {
  padding: 5px;
  background-color: #00ADED;
  width: 285px;
  height: 100px;
  margin-right: 5%;
  border: 1px solid black;
  border-radius: 10px;
}
.project-row {
  margin-left: 5%;
  display: flex;
  overflow-x: auto;
  flex-flow: row;
  margin-top: 38px;
}
.category-content {
  background-color: #E3E3E3;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0px 11px 4px -10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.task-header-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.task-column-header {
  display: table-cell;
  text-align: center;
}
.task {
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}
.task-content {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.task-cell {
  padding: 10px;
  display: table-cell;
  border-right: 1px solid black;
}
.task-status {
  text-align: center;
}
.task-priority {
  text-align: center;
}
.task-severity {
  text-align: center;
}
