html {
  height: 100%;
}
body {
  background-color: #D8F3FD;
}
.navbar {
  background-color: #FFFFFF;
}
.content{
  
}
#add-project.hover {
    background-color: wheat;
}
#add-project {
    text-align: center;
}
.category {
  background-color: #00ADED;
  width: 285px;
  height: 200px;
  margin-left: 5%;
  border: 1px solid black;
  height: max-content;
}
.category-title {
  border-bottom: 1px solid burlywood;
  font-size: 24;
  text-align: center;
}
.category-row {
  display: flex;
  overflow-x: auto;
  flex-flow: row;
  margin-top: 38px;
}
.task-checkbox {
  padding-right: 10px;
}
.task-column {
  padding-left: 10px;
  padding-right: 10px;
}
.task {
/*  background-color: #E3E3E3*/
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid burlywood;
}
#logout-button {
  text-align: right;
}
