html {
  height: 100%;
}
body {
  background-color: lightcoral;
}
.navbar {
  border-bottom: 1px solid;
  border-bottom-color: aliceblue;
  background-color: azure;
}
.content{
  
}
#add-project.hover {
    background-color: wheat;
}
#add-project {
    text-align: center;
}
.category {
  background-color: antiquewhite;
  width: 285px;
  margin-left: 5%;
  border: 3px solid burlywood;
  height: max-content;
}
.category-title {
  border-bottom: 1px solid burlywood;
  font-size: 24;
  text-align: center;
}
.category-row {
  display: flex;
  overflow-x: auto;
  flex-flow: row;
  margin-top: 38px;
}
.task-checkbox {
  padding-right: 10px;
}
.task-column {
  padding-left: 10px;
  padding-right: 10px;
}
.task {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid burlywood;
}
#logout-button {
  text-align: right;
}
