html {
  height: 100%;
}
body {
  background-color: #D8F3FD;
  margin: 0px;
}
.navbar {
  background-color: #FFFFFF;
  display: flex;
}
/*
.content {
  
}
*/
#add-project.hover {
    background-color: wheat;
}
#add-project {
    text-align: center;
}

.category-title {
/*  border-bottom: 1px solid burlywood;*/
  font-size: 24;
  text-align: left;
}
.category {
  padding: 5px;
  background-color: #00ADED;
  border: 1px solid black;
  border-radius: 10px;
}
.category-row {
    margin-left: 5%;
    margin-top: 38px;
}
.project {
  padding: 5px;
  background-color: #00ADED;
  width: 285px;
  height: 100px;
  margin-right: 5%;
  border: 1px solid black;
  border-radius: 10px;
}
.project-row {
  margin-left: 5%;
  display: flex;
  overflow-x: auto;
  flex-flow: row;
  margin-top: 38px;
}
.task-checkbox {
  padding-right: 10px;
}
.task-column {
  padding-left: 10px;
  padding-right: 10px;
}
.task {
/*  background-color: #E3E3E3*/
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid burlywood;
}
#logout-button {
  text-align: right;
  margin-top: 55px;
  margin-left: 65%;
}
