body {
    background: url("train-station-edit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    color: white;
}

html {
    height: 100%
}

#content {
    text-align: center;
    padding-top: 25%;
}

#custom-button {
    background-color: darkgrey;
}

h1 {
    font-weight: 700;
    font-size: 4em;
}

.dropdown-menu.show {
    display: block;
    -webkit-min-logical-width: 500px;
}

#location-dropdown:hover {
    background-color: rgba(0,0,0,0.2);
    
}

#location-container {
    text-align: right;
}