img {
  background-color: black;
  border-style: inset;
  border-color: aliceblue;
  width: 100px;
  height: 100px;
}
img[class="mineral-icon"] {
  width:20px;
  height:20px;
  margin: 5px;
}
#mineral-display {
  text-align: right;
}
#content {
  text-align: left;
}
#title {
  text-align: center;
  color: aliceblue;
  background: url("resources/background.png");
}
.unit-display {
  padding: 10px;
}
input {
  margin: 8px;
}
input[type="number"] {
  width: 45px;
}