body {
    font-family: 'Play', sans-serif;
}
img {
  background-color: black;
  border-style: inset;
  border-color: aliceblue;
  width: 100px;
  height: 100px;
}
img[class="mineral-icon"] {
  width:20px;
  height:20px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#mineral-display {
  text-align: right;
}
#content {
  text-align: left;
}
nav {
  background: url("resources/stars-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-brand, .nav-item {
  color: white; 
}
#title {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: aliceblue;
  background: url("resources/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#main {
  background: url("resources/spear.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.unit-display {
  padding: 10px;
}
input {
  margin: 8px;
}
input[type="number"] {
  width: 45px;
}