img {
  background-color: black;
  border-style: inset;
  border-color: aliceblue;
  width: 100px;
  height: 100px;
}
#mineral-display {
    text-align: right;
}
#content {
  text-align: left;
}
.unit-display {
  padding: 10px;
}
input {
  margin: 8px;
}
input[type="number"] {
  width: 45px;
}